

.break {
    word-wrap: break-word;
    white-space: initial;
    flex-wrap: wrap;
    
}

.book {
    color: white;
    opacity: 1;
    transition: 0.3s;
    font-family: 'Roboto';
}

.book:hover {
    opacity: 0.7
}