@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
.title {
    font-family: 'Noto Serif SC', serif;
    font-size: 30px;
    padding-bottom: 10px;
}

.styleFont{
    font-family: 'Hind Siliguri', sans-serif;
}

.saveButton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 12px;
    line-height: 20px;
    
    background: rgb(238, 238, 238);
    font-weight: 700;
    border: 2px solid #DAE3F3;
    border-radius: 0;
    color: #000000;
    transition-timing-function: ease-in-out;
    transition-property: box-shadow;
    transition-duration: 150ms;
  }
  
  .saveButton:hover {
    box-shadow: 0 2px 2px rgb(39 44 52 / 12%);
  }

.saved {
    display: inline-block;
    outline: none;
    cursor: default;
    font-size: 14px;
    padding: 6px 12px;
    line-height: 20px;
    
    background: rgb(255, 42, 42);
    font-weight: 700;
    border: 2px solid #DAE3F3;
    border-radius: 0;
    color: #ffffff;
    transition-timing-function: ease-in-out;
    transition-property: box-shadow;
    transition-duration: 150ms;
}



hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width:100%;
}