@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
.listTitle {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}


.fontstyle{
    font-family: 'Hind Siliguri', sans-serif;
}

.book:hover{
    opacity: 0.5;
}